.edit_prof_div {
width: 15%;
cursor: pointer;
margin-top: 12px;
}
.close_prof_div {
cursor: pointer;
}
.influence_table {
height: auto;
overflow-y:none!important;
}
.table-responsive {
overflow-x:none!important;
}