div.col-md-12  p#recent
{
font-family: open sans;
background: rgb(255, 255, 255);
padding-bottom:9px;
padding-left:6px;
padding-top:9px;
padding-bottom:9px;
margin-bottom: 0px;
width: 100%; 

}
.analytic_bg_whi_1
 { 
 background: rgb(255, 255, 255) none repeat scroll 0 0; 
 display: block; float: left; height: 348px;
 overflow-x: hidden; overflow-y: scroll; 
 padding-left: 10px; width: 100%; }